/__pycache__
/data_preprocessing/__pycache__
/data_preprocessing/rail_extract.py
/images
/random_stuff
/videos
test.py
data/globoko/globoko_old
/report/thesis/thesis.synctex.gz
/report/dispozicija/dispozicija1.tex